// Make sure the charset is set appropriately
@charset "UTF-8";

@import "settings";
@import "normalize";
@import "foundation";
@import "override";

.login {

  margin-top: 2em;
  background: #fff;

  .welcome { text-align: center; margin: 1em 0;}
  i { font-size: 1.5em; }

}
