extends ./layout



block body
  .row
    .columns.small-12
      .panel
        h3
          | You're looking at:
          code
            = view.pathFromApp + '.' + view.ext
  .row
    .columns.small-9
      ul.getting-started
        li
          .step
            .sprite.one
            h3 Generate a REST API.
            p
              | Run
              code sails generate api user
              | .  This will create two files: a
              a(href='http://links.sailsjs.org/docs/models') model
              code.pocket api/models/User.js
              | and a
              a(href='http://links.sailsjs.org/docs/controllers') controller
              code.pocket api/controllers/UserController.js
              | .
        li
          .step
            .sprite.two
            h3
              | Lift your app.
            p
              | Run
              code sails lift
              | to start up your app server.  If you visit
              a(target='_blank', href='http://localhost:1337/user')
                code http://localhost:1337/user
              | in your browser, you'll see a
              a(href='http://links.sailsjs.org/docs/blueprints') WebSocket-compatible
              | user API.
        li
          .step
            .sprite.three
            h3
              | Dive in.
            p
              | Blueprints are just the beginning.  You'll probably also want to learn how to customize your app's
              a(href='http://links.sailsjs.org/docs/routes') routes
              | , set up
              a(href='http://links.sailsjs.org/docs/policies') security policies
              | , configure your
              a(href='http://links.sailsjs.org/docs/config/connections') data sources
              | , and build custom
              a(target='_blank', href='http://links.sailsjs.org/docs/controllers') controller actions
              | . For more help getting started, check out the links on this page.
            // Try adding a custom route in your <code>config/routes.js</code> file and pointing it at <code>UserController.find</code>.
            p  
    .links.columns.small-3
      .panel
        h3 Links
        h4 Docs
        ul
          li: a(target='_blank', href='http://sailsjs.org/#!documentation/anatomy') App Structure
          li: a(target='_blank', href='http://sailsjs.org/#!documentation/reference') Reference
          li: a(target='_blank', href='http://links.sailsjs.org/docs/faq') FAQ
          li: a(target='_blank', href='http://sailsjs.org') Supported Databases
        h4 Tutorials
        ul
          li: a(target='_blank', href='http://links.sailsjs.org/community/sails101') Sails 101
        h4 Community
        ul
          li: a(target='_blank', href='http://stackoverflow.com/search?q=sails.js') StackOverFlow
          li: a(target='_blank', href='https://github.com/balderdashy/sails') GitHub
          li: a(target='_blank', href='https://groups.google.com/forum/#!forum/sailsjs') Google Group
          li: a(target='_blank', href='http://webchat.freenode.net/') IRC (#sailsjs on freenode)
