extends ../layout

block body
  .row
    .large-6.medium-8.large-offset-3.medium-offset-2.columns
      .panel.login
        h3.welcome Welcome back!
        form(method="POST", action="/login")
          if(!!data)
            .alert-box.alert
              i.fi-skull
              | &nbsp;
              - var message = typeof data === 'string' ? data : data.error;
              =message
          .row.collapse
            .small-2.columns
               span.prefix: i.fi-mail
            .small-10.columns
              input(type="text", name="email", placeholder="Email")
          .row.collapse
            .small-2.columns
               span.prefix: i.fi-lock
            .small-10.columns
              input(type="password", name="password", placeholder="Password")
          .row.collapse
            p.columns.small-12.text-center
              input.button.tiny(type="submit", value="Log in!")
